

























/* .menu {
    margin: 0;
    display: flex;
    padding: 5px;
    font-size: 35px;
    background-color: grey;  
}

.menu li {
    list-style: none;
    padding: 15px;
    color: white;
    font-weight: bold;
}

.menu li:hover {
    background-color:brown;
    cursor: pointer;
    font-style: italic;
} */